{{ component( "CeresCoconut::Item.Components.VariationSelect" ) }}
{{ component( "CeresCoconut::Item.Components.ItemImageCarousel" ) }}
{{ component( "CeresCoconut::Item.Components.AddToWishList" ) }}
{{ component( "CeresCoconut::Item.Components.OrderProperties" ) }}
{{ component( "CeresCoconut::Item.Components.OrderPropertyList" ) }}
{{ component( "CeresCoconut::Item.Components.SingleItem" ) }}
{{ component( "CeresCoconut::Item.Components.GraduatedPrices" ) }}
{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "CeresCoconut::Item.Components.ItemBundle" ) }}

<single-item v-cloak template="#vue-single-item" :item-data="{{ item | json_encode }}" :variation-list-data="{{ variations | json_encode }}" :attribute-name-map="{{attributeNameMap | json_encode}}" :variation-units="{{variationUnits | json_encode}}">
    <div slot="BeforePrice">{{ LayoutContainer.show("Ceres::SingleItem.BeforePrice", item.documents[0].data) }}</div>
    <div slot="AfterPrice">{{ LayoutContainer.show("Ceres::SingleItem.AfterPrice", item.documents[0].data) }}</div>
    <div slot="BeforeAddToBasket">{{ LayoutContainer.show("Ceres::SingleItem.BeforeAddToBasket", item.documents[0].data) }}</div>
    <div slot="AfterAddToBasket">{{ LayoutContainer.show("Ceres::SingleItem.AfterAddToBasket", item.documents[0].data) }}</div>
    <div slot="AdditionalContentAfterAddToBasket">{{ LayoutContainer.show("Ceres::SingleItem.AdditionalContentAfterAddToBasket", item.documents[0].data) }}</div>
    <div slot="AdditionalContentAfterVAT">{{ LayoutContainer.show("Ceres::SingleItem.AdditionalContentAfterVAT", item.documents[0].data) }}</div>
    <template slot="AddDetailTabs">{{ LayoutContainer.show("Ceres::SingleItem.AddDetailTabs", item.documents[0].data) }}</template>
    <template slot="AddDetailTabsContent">{{ LayoutContainer.show("Ceres::SingleItem.AddDetailTabsContent", item.documents[0].data) }}</template>
    <template slot="ItemListContainer">{{ LayoutContainer.show("Ceres::SingleItem.ItemListContainer", item) }}</template>
    <template slot="FeedbackContainer">{{ LayoutContainer.show("Ceres::SingleItem.FeedbackContainer", item) }}</template>
    <div slot="ImageCarousel">
        {% set ImageCarouselOverride = LayoutContainer.show("Ceres::SingleItem.ImageCarousel") %}
        {% if ImageCarouselOverride|trim is empty %}
            <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
        {% else %}
            {{ ImageCarouselOverride }}
        {% endif %}
    </div>
    <div slot="Property">
      {%  for variationProperty in item.documents[0].data.variationProperties %}
          {% if variationProperty.property.id == 3 %}
              {{ variationProperty.property.names.name }}
      	      {{ variationProperty.values.value }}
      	  {% endif %}
      {% endfor %}
    </div>
</single-item>
