{{ component( "CeresCoconut::Item.Components.VariationSelect" ) }}
{{ component( "CeresCoconut::Item.Components.ItemImageCarousel" ) }}
{{ component( "CeresCoconut::Item.Components.AddToWishList" ) }}
{{ component( "CeresCoconut::Item.Components.OrderProperties" ) }}
{{ component( "CeresCoconut::Item.Components.OrderPropertyList" ) }}
{{ component( "CeresCoconut::Item.Components.SingleItem" ) }}
{{ component( "CeresCoconut::Item.Components.GraduatedPrices" ) }}
{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "CeresCoconut::Item.Components.ItemBundle" ) }}
<<<<<<< HEAD
{{ component( "CeresCoconut::Item.Components.EigenschaftVueHtml.twig") }}
=======
{{ component("CeresCoconut::Item.EigenschaftVueHtml.twig") }}
>>>>>>> parent of cfd7d58... Update SingleItemView.twig

<single-item v-cloak template="#vue-single-item" :item-data="{{ item | json_encode }}" :variation-list-data="{{ variations | json_encode }}" :attribute-name-map="{{attributeNameMap | json_encode}}" :variation-units="{{variationUnits | json_encode}}">
    <div slot="BeforePrice">{{ LayoutContainer.show("CeresCoconut::SingleItem.BeforePrice", item.documents[0].data) }}</div>
    <div slot="AfterPrice">{{ LayoutContainer.show("CeresCoconut::SingleItem.AfterPrice", item.documents[0].data) }}</div>
    <div slot="BeforeAddToBasket">{{ LayoutContainer.show("CeresCoconut::SingleItem.BeforeAddToBasket", item.documents[0].data) }}</div>
    <div slot="AfterAddToBasket">{{ LayoutContainer.show("CeresCoconut::SingleItem.AfterAddToBasket", item.documents[0].data) }}</div>
    <div slot="AdditionalContentAfterAddToBasket">{{ LayoutContainer.show("CeresCoconut::SingleItem.AdditionalContentAfterAddToBasket", item.documents[0].data) }}</div>
    <div slot="AdditionalContentAfterVAT">{{ LayoutContainer.show("CeresCoconut::SingleItem.AdditionalContentAfterVAT", item.documents[0].data) }}</div>
    <template slot="AddDetailTabs">{{ LayoutContainer.show("CeresCoconut::SingleItem.AddDetailTabs", item.documents[0].data) }}</template>
    <template slot="AddDetailTabsContent">{{ LayoutContainer.show("CeresCoconut::SingleItem.AddDetailTabsContent", item.documents[0].data) }}</template>
    <template slot="ItemListContainer">{{ LayoutContainer.show("CeresCoconut::SingleItem.ItemListContainer", item) }}</template>
    <template slot="FeedbackContainer">{{ LayoutContainer.show("CeresCoconut::SingleItem.FeedbackContainer", item) }}</template>
    <div slot="ImageCarousel">
        {% set ImageCarouselOverride = LayoutContainer.show("CeresCoconut::SingleItem.ImageCarousel") %}
        {% if ImageCarouselOverride|trim is empty %}
            <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
        {% else %}
            {{ ImageCarouselOverride }}
        {% endif %}
    </div>
    <div slot="Property">
      <variation-properties
      	template="vue-variation-properties"
      	v-for="(variationProperty, index) in currentVariation.variationProperties"
      	v-if="currentVariation.variationProperties"
      	:key="variationProperty.property.id"
      	:variationProperty="variationProperty"
      	:id="3"
      ></variation-properties>
      <variation-properties
      	template="vue-variation-properties"
      	v-for="(variationProperty, index) in currentVariation.variationProperties"
      	v-if="currentVariation.variationProperties"
      	:key="variationProperty.property.id"
      	:variationProperty="variationProperty"
      	:id="5"
      ></variation-properties>
    </div>
</single-item>
